/* css universal */
body{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
* {
  box-sizing: border-box;
}

.header {
  background-image: url(../images/Background-Keren-HD.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.navbar {
  overflow: hidden;
  background-color: blue;
}

.navbar a {
  float: left;
  display: block;
  color: bisque;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}

.navbar a:hover{
    background-color: white;
    color: black;
}

.column{
    float: left;
    padding: 10px;
}

.column.side{
    width: 25%;
}

.column.middle{
    width: 50%;
}

/* .row::after{
    content: "";
    display: table;
    clear: both;
} */

footer{
    background-color: rgb(12, 206, 206);
    padding: 10px;
    text-align: center;
    color: rgb(228, 27, 27);
}