/* Reset some default styles */
html {
    padding-left: 50px;
}

body,
h3,
h4{
  margin: 0;
  padding: 0;
  text-align: center;
}

#center{
    width: auto;

}
#tabel1 th{
    background-color: #0adaf1;
}

#tabel2 th{
    background-color: rgb(255, 176, 57);
}

#tabel3 th{
    background-color: rgb(28, 99, 39);
}

/* Style the bordered table */
.bordered-table {
  border-collapse: collapse;
  width: 45%;
  font-family: Arial, sans-serif;
  border: 1px solid #000000; 
  
}

/* Style the table headers */
.bordered-table th {
  border: 1px solid #000000; 
  padding: 8px;
  width: 400px;
  text-align: center;
  color: #ffffff;
}

/* Style the table data cells */
.bordered-table td {
  border: 1px solid #000000; /* Add border to cells */
  padding: 8px;
}

/* Alternate row background color */
.bordered-table tr:nth-child(even) {
  background-color: #ffffff;
}
